body{
     background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ9dx_vo7D--Sps9_BqFeu2DQHLc4NCpk5YasxEaF2t4dex9yp");
}

.box {
    font-family: Courier New;
    font-size: 50px;
    background: #FAFAD2;
    border: 5px inset;
    text-align: center;
    }

.inicio {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    }

.boton {
  font-family: cursive;
    font-size: 30px;
   border: 5px double;
    text-align: center;
}

.btn {
  font-family: cursive;
    font-size: 20px;
   border: 5px double;
    text-align: center;
}

.botonlimpiar {
  font-family: cursive;
    font-size: 20px;
   border: double;
    text-align: center;
}

.box1 {
  font-family: cursive;
    font-size: 20px;
   border: 5px double;
  text-align: center;
}
